{% extends "base.html" %}

{% block content %}
  
  <div class="header-one">
    <div class="jumbotron text-center" >
      <h1 class="title-one">ARE YOU SURE TO LOG OUT ?</h1>
      <br>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height: 20vh;">
      <form class = "logoutbtn" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    </div>
  </div>
{% endblock %}